body{ /*Un body con un fondo de color blanco*/
    font-family: Arial, Helvetica, sans-serif, serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

main{
    background-color: #FFFFFF;
    width: 1440px;
    height: 1131px;
    position: relative;
}

section{
    width: 1440px;
    height: 813px;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

.maintext{
    width: 483px;
    height: 426px;
    margin-top: 181px;
    margin-left: 131px;
}

h1{
    width: 422px;
    height: 188px;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
}

.secondtext{
    width: 463px;
    height: 132px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: start;
    margin: 0;
}

.button{
    width: 288px;
    height: 66px;
    background-color: #252525;
    color: #FFFFFF;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
}

.flex{
    display: flex;
}

.img1{
    margin-top: 86px;
    margin-left: 72px;
}

.gap{
    gap: 24px;
}

.gallery{
    position: absolute;
    top: 0;
    top: 698px;
    left: 115px;
}

h2{
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    padding-top: 15px;
    width: 108px;
    height: 33px;
}

.rectangle{
    border-top: 5px solid #252525;
    width: 52px;
}

.h2text{
    width: 483px;
    height: 237px;
    margin-left: 843px;
    margin-top: 17px;
}

.description{
    width: 483px;
    height: 60px;
    font-size: 22px;
    font-weight: 400;
    color: #252525CC;
}