body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

.fondo{
    background-color: #FFFFFF;
    width: 1440px;
    height: 954px;
}

.width-h1{
    width: 531px;
    height: 208px;
    margin-top: 64px;
    margin-left: 88px;
}

h1{
    font-size: 80px;
}

.flex{
    display: flex;
}

.width-h2{
    width: 400px;
    height: 549px;
    margin: 24px;
}

.margin{
    margin-left: 64px;
    margin-top: 56px;
}

h2{
    font-size: 32px;
    color: #2525258C;
}

p{
    font-size: 24px;
    color: #252525CC;
}