body{ /*Un body con un fondo de color blanco*/
    font-family: 'Times New Roman', Times, serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

main{ /*Main con un tama침o y altura*/
    width: 1440px;
    height: 1024px;
    background-color: #FFFFFF;
    position: relative; /*Caja relativa*/
    display: flex; /*Flex*/
}

h2{ /*Tama침o h2*/
    width: 434px;
    height: 32px;
    font-size: 24px;
    color: #25252573;
}

p{ /*Tama침o p de debajo del h2*/
    color: #252525CC;
    width: 434px;
    height: 64px;
    font-size: 24px;
}

.imgleft{ /*Imagen left*/
    margin-left: 64px;
    margin-top: 99px;
}

.explosion{ /*Img de la explosi칩n*/
    margin-left: 19.88px;
    margin-top: 17px;
    width: 179.91px;
    height: 176.57;
}

h1{ /*H1 settings*/
    font-size: 112px;
    width: 337px;
    height: 324px;
    font-weight: 400;
    line-height: 108px;
    text-align: center;

}

.text{
    position: absolute;
    top: 182px;
    left: 551px;
}

.centraltext{
    width: 306px;
    height: 128;
    font-size: 24px;
    text-align: center;
    margin-left: 17px;
}

h3{
    width: 182px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: #FFFFFF;
    border-radius: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 89px;
    margin-left: 71px;
}

.gradient{
    position: absolute;
    top: 50px;
    left: 315px;
}

.relative{
    position: relative;
    content: '';
    width: 100%;
    height: 100%;
}

.imgtop{
    position: absolute;
    left: 964px;
    top: 64px;
}

.party{
    position: absolute;
    left: 1135px;
    top: 647px;
}

.righttext{
    position: absolute;
    left: 942px;
    top: 812px;
}

.star{
    position: absolute;
    left: 311px;
    top: 237px;
}

.star2{
    position: absolute;
    left: 921px;
    top: 535px;
}