body{ /*Un body con un fondo de color blanco*/
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

main{
    width: 1440px;
    height: 1475px;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section{
    width: 695px;
    height: 297px;
    margin-top: 32px;
}

h1{
    width: 695px;
    height: 84px;
    display: flex;
    justify-content: center;
    font-size: 56px;
}

h2{
    width: 689px;
    height: 99px;
    font-size: 24px;
    font-weight: 400;
    color: #252525CC;
    margin: 0;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #252525;
    border-radius: 36px;
    width: 182px;
    height: 66px;
    font-size: 24px;
    font-weight: 400;
}

.button{
    display: flex;
    justify-content: center;
}

span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image{
    width: 1332px;
    height: 526px;
    margin-top: 193px;
}

.bottomimg{
    display: flex;
    width: 1313px;
    height: 344px;
    justify-content: space-between;
    margin-top: 40px;
}

.list{
    position: absolute;
    background-color: #FFFFFF;
    width: 1048px;
    height: 191px;
    border-radius: 48px;
    top: 437px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.listitem{
    width: 176px;
    height: 111px;
}

h4{
    font-size: 24px;
    border-bottom: 5px solid black;
    width: 71px;
    height: 33px;
    padding-bottom: 15px;
    margin: 0;
}