body{ /*Un body con un fondo de color blanco*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

main{
    background-color: #FFFFFF;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.text{
    width: 637px;
    height: 477px;
    margin-left: 64px;
    top: 18px;
    position: absolute;
}


h1{
    width: 437px;
    font-size: 72px;
}

h2{
    font-size: 24px;
    color: #252525CC;
    width: 540px;
    font-weight: 400;
    margin-bottom: 24px;
}

h3{
    color: #FFFFFF;
    background-color: #252525;
    width: 182px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
}

.imatges{
    content: '';
    height: 100%;
}


.spiral{
    left: 0;
    position: absolute;
    left: 133px;
    top: 674px;
}

.olas{
    position: absolute;
    left: 498px;
    top: 91px;
}

.img3{
    position: absolute;
    left: 1063px;
    top: 67px;
}

.img2{
    position: absolute;
    left: 723px;
    top: 282px;
}

.img1{
    position: absolute;
    left: 383px;
    top: 524px;  
}

.estrella2{
    position: absolute;
    left: 1095px;
    top: 541px;
}
.estrella1{
    position: absolute;
    left: 596px;
    top: 388px;;
}

.flex{
    display: flex;
}

.card{
    position: absolute;
    left: 708px;
    top: 838px;
}

p{
    width: 516px;
    height: 90px;
    font-size: 22px;
    font-weight: 400;
    color: #252525CC;
}

.gap{
    gap: 24px;
}

.card img{
    padding-top: 21px;
    padding-left: 24px;
}

.card p{
    padding-top: 4px;
}
