body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.center{
    background-color: #FFFFFF;
    width: 1440px;
    height: 1272px;
}

.margin-text{
    margin-top: 137px;
    margin-left: 64px;
}

.margin-images{
    margin-left: 64px;
}

.margin-top-image{
    margin-top: 65px;
}

.margin-top2{
    margin-top: 217px;
}

.margin-top3{
    margin-top: 64px;
}

.width1{
    width: 444px;
    height: 231;
}

.width2{
    width: 386px;
    height: 144px;
}

h1{
    font-size: 58px;
    font-weight: 500;
}

h2{
    font-weight: normal;
    font-size: 26px;
}

p{
    background-color: #252525;
    color: #FFFFFF;
    border-radius: 16px;
    text-align: center;
    width: 157px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.gap32{
    gap: 32px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}