body{ /*Un body con un fondo de color blanco*/
    background-color: #FFFFFF   ;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 64px;
}

h2{
    color: #252525CC;
    font-weight: normal;
}

.text-center{
   display: flex;
   justify-content: center; 
}

.text-align{
    text-align: center;
}

.width1{
    width: 610px;
    height: 145px;
}

.width2{
    width: 607px;
    height: 108px;
}

.width3{
    width: 158px;
    height: 54px;
}

p{
    color: #FFFFFF;
    background-color: #252525;
    border-radius: 16px;
    width: 158px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
}

.gap{
    gap: 16px;
}

.margin-top{
    margin-top: 32px;
}

.margin-top2{
    margin-top: 16px;
    margin-bottom: 32px;
}