body{ /*Un body con un fondo de color blanco*/
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif, Times, serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

main{
    background-color: #FFFFFF;
    width: 1440px;
    height: 1133px;
}

.context{
    margin-top: 118px;
    margin-left: 71px;
    margin-right: 66px;
    display: flex;
    gap: 32px;
}

.item{
    width: 355px;
    height: 296.69px;
}

.circle{
    display: flex;
    justify-content: center;
}

.circltop{
    margin-top: 56px;
}

.circlbottom{
    margin-bottom: 56px;
}

.textmiddle{
    width: 498px;
    height: 322px;
}

h1{
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    width: 498px;
    height: 160px;
    text-align: center;
}

.space{
    width: 433px;
    height: 64px;
}

.text{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 25px 0px;
}

.buttoncenter{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.button{
    background-color: #252525;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 0;
}

.gallery{
    width: 1261px;
    height: 582px;
    margin-top: 55px;
    margin-left: 79px;
    margin-right: 89px;
    display: flex;
    gap: 24px;
}

.textright{
    width: 177px;
    height: 174px;
}

.firsth2{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    border-bottom: 5px solid black;
    padding-bottom: 29px;
    line-height: 48px;
    margin: 0;
}

.left-item{
    margin-top: 63px;
}

.imageleft{
    margin-bottom: 12px;
}

.imageright{
    margin-bottom: 12px;
    margin-top: 41px;
}

.lastrigthimg{
    margin-top: 123px;
    margin-bottom: 32px;
    margin-right: 23px;
}

.secondh2{
    font-style: italic;
    font-size: 32px;
    font-weight: 400;
    width: 105px;
    height: 144px;
    margin-left: 79px;
    border-bottom: 5px solid black;
    padding-bottom: 20px;
    line-height: 48px;
}